<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="row">
      <!-- ログインしていない場合、ログイン画面に遷移させる -->
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'スポットを見る', '#', class: 'btn btn-block btn-black' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'スポットを投稿する', new_spot_path,class: 'btn btn-block btn-black' %>
      </div>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12921.49228295515!2d139.8850779!3d35.6267108!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41471d704ab72d25!2z5p2x5Lqs44OH44Kj44K644OL44O844K344O8!5e1!3m2!1sja!2sjp!4v1574758302979!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
