<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'スポットを見る', '#', class: 'btn btn-block btn-black' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'スポットを投稿する', '#',class: 'btn btn-block' %>
      </div>
    </div>
  </div>
</div>
