<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <div class="row">
      <% if user_signed_in? %>
        <div class="col-md-offset-3 col-md-3">
          <%= link_to 'スポットを見る', places_path, class: 'btn btn-block btn-black' %>
        </div>
        <div class="col-md-3">
          <%= link_to 'スポットを投稿する', new_place_path, class: 'btn btn-block btn-black' %>
        </div>
      <% else %>
        <div class="col-md-offset-3 col-md-3">
          <%= link_to 'ユーザー登録', new_user_registration_path, class: 'btn btn-block btn-black' %>
        </div>
        <div class="col-md-3">
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-block btn-black' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
