.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

h1, h2 {
  font-weight: 100;
  letter-spacing: 2;
}

main {
  padding-top: 70px;
}

.place-head {
  display: inline-block;
}

#map {
  height: 500px;
  border: solid 5px #FF9E41;
}

.window-image {
  width: 100px;
  height: auto;
}

.logo {
  height: 70px;
}

.nav-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.nav-item::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #FF9E41;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.nav-item:hover::after {
  transform: scale(1, 1);
}

.dropdown-item:hover {
  background-color: #FFC07F;
}

.text-orange {
  color: #FF9E41;
}

.bg-blue {
  background-color: rgba( 64, 216, 255, 0.3 );
  display: inline-block;
}

.window-box {
  height: 200px;
  width: 300px;
}

.top-page-wrapper {
  .bg-white {
    background-color: rgba(0,0,0,0.1);
  }
}

.jumbotron {
  background-image: url("background_images/harbor.jpg");
  position: relative;
  height: 100vh;
  min-height: 300px;
  background-size: cover;
  background-position: center 60%;
}

.under-blue {
  border-bottom: solid 3px #40D8FF;
}

.under-orange {
  border-bottom: solid 3px #FF9E41;
}

.card-body {
  .under-blue {
    display: inline-block;
  }
}

.btn-white {
  color: #fff;
  border: 2px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-image {
  width: 100vw;
  height: 100vh;
  background-image: url('background_images/aquasphea.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f0f0f0;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}
.form-control {
  height: 45px;
}

/* 通常のボタン色 */
.btn-twitter,
.btn-twitter.disabled, .btn-twitter:disabled {
  color: #fff;
  background-color: #55acee;
  border-color: #55acee;
}

/* focusされた時の枠線の色 */
.btn-twitter:focus, .btn-twitter.focus,
.btn-twitter:not(:disabled):not(.disabled):active:focus, .btn-twitter:not(:disabled):not(.disabled).active:focus,
.show > .btn-twitter.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色*/
.btn-twitter:hover {
  color: #fff;
  background-color: #1891ED;
  border-color: #1891ED;
}

/* 通常のボタン色 */
.btn-orange,
.btn-orange.disabled, .btn-orange:disabled {
  color: #fff;
  background-color: #FF9E41;
  border-color: #FF9E41;
}

/* focusされた時の枠線の色 */
.btn-orange:focus, .btn-orange.focus,
.btn-orange:not(:disabled):not(.disabled):active:focus, .btn-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色*/
.btn-orange:hover {
  color: #fff;
  background-color: #FF8500;
  border-color: #FF8500;
}

/* 通常のボタン色 */
.btn-inverse-orange,
.btn-inverse-orange.disabled, .btn-inverse-orange:disabled {
  color: #FF9E41;
  background-color: #fff;
  border: solid 1px #FF9E41;
}

/* focusされた時の枠線の色 */
.btn-inverse-orange:focus, .btn-inverse-orange.focus,
.btn-inverse-orange:not(:disabled):not(.disabled):active:focus, .btn-inverse-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-inverse-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色*/
.btn-inverse-orange:hover {
  color: #fff;
  background-color: #FF8500;
  border-color: #FF8500;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.comment-form {
  padding-top: 30px;
  padding-bottom: 40px;
}

.photo {
  width: 300px;
  height: auto;
  margin: 10px 0;
}

.top-link {
  font-size: 20px;
  display: block;
  width: 100px;
  height: 50px;
}
