<h1>New Place</h1>

<%= render 'form', place: @place %>

<%= link_to 'Back', places_path, data: {"turbolinks" => false} %>

<div id="map" style="width: 800px; height: 400px;"></div>

<script src="//maps.google.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :api_key) %>&callback=initNewMap" async defer></script>
