<h1>New Place</h1>

<%= render 'form', place: @place %>

<%= link_to 'Back', places_path %>

<div id="map" style="width: 800px; height: 400px;"></div>
<ul>
    <li>lat: <span id="lat"></span></li>
    <li>lng: <span id="lng"></span></li>
  </ul>

<script>

  function initMap() {
    // マップの初期化
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: 35.6262641, lng: 139.8819781},
      mapTypeId: 'satellite'
    });

    // クリックイベントを追加
    map.addListener('click', function(e) {
      getClickLatLng(e.latLng, map);
    });

    var marker;

    // マーカーを設置
    function placeMarker(lat_lng) {
      if ( marker ) {
        marker.setPosition(lat_lng);
      } else {
        marker = new google.maps.Marker({
          position: lat_lng,
          map: map
        });
      }
    }

    google.maps.event.addListener(map, 'click', function(e) {
      placeMarker(e.latLng);
    });
  }

  function getClickLatLng(lat_lng, map) {

    // 座標を表示
    document.getElementById('lat').textContent = lat_lng.lat();
    document.getElementById('lng').textContent = lat_lng.lng();

    // 座標の中心をずらす
    // http://syncer.jp/google-maps-javascript-api-matome/map/method/panTo/
    map.panTo(lat_lng);
  }

</script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script> -->
<script src="//maps.google.com/maps/api/js?key=<%= Settings.google.api_key %>&callback=initMap"></script>
